<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-sm-6 col-xl-6 uptrick text-center">
      <h1 class="font-weight-bold text-center">Job Portal</h1>
      <p >Jobs for everyone according to your liking</p>
    </div>
    <div class="col-sm-6 col-xl-6">
      <img class="imgs"
           src="https://2.bp.blogspot.com/-D2LNU-Zsfbc/WHZIdsOhXuI/AAAAAAAAIbc/eTt3Gohpelo14Niqx9nQ8mu35gUGbeW0wCLcB/s1600/online_student_learning_4545.gif">
    </div>
  </div>
</div>
<hr>
