<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Job Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!loggedIn else elseBlock">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="current">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li routerLinkActive="current">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li routerLinkActive="current">
        <a class="nav-link" routerLink="sign-up">Sign Up</a>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="current">
          <a class="nav-link" routerLink="">Home</a>
        </li>
      </ul>
  </ng-template>
</nav>
